# Number of particles
3
# time at which simulation ends
6.312e7
# timestep
86400
# position, velocity, acceleration are recorded at every recordValues'th timestep
1
# surface area of the sail
4000
# mass of the sail
17.73
# initial velocity of sail, in x
-806.579104225
# initial velocity of sail, in y
29670.10762653135
# tilt angle of sail(in degrees)
30
# target name
Jupiter
# target mass
1.89813e27
# target velocity in x
-866.3164909094049
# target velocity in y
13658.74486403410
# target in x
0
# target in y
0
# distance of target from Sun
7.43e11
# distance to which the laser will be used, for Starshot only
0
# proximity to target in which the probe can do science, for Starshot only
0
